version: "3.6"

services:

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    networks:
      - ares-network

  frontend:
    build: ./frontend
    image: ares-frontend
    volumes:
      - ./frontend:/app
    environment:
      - BACKEND_URL=http://backend:8000/api
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - ares-network

networks:
  ares-network:
    driver: bridge
